{%load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{% block title %} GreatKart {% endblock %}</title>

<link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
}); 
</script>

</head>
<body>

<header class="section-header">
<nav class="navbar navbar-expand-sm navbar-light border-bottom">
<div class="container">
    <a href="{% url 'home' %}" class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                <ul class="navbar-nav">
                    {% for link in links %}
                        <li class="nav-item">
                            <a href="{% url 'store_by_category' link.slug %}" class="nav-link">{{ link.name }}</a>
                        </li>
                    {% endfor %}
                </ul>


            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{% url 'signin' %}" class="nav-link">Sign in</a></li>
            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
            <li class="nav-item"><a href="{% url 'cart' %}" class="nav-link"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
</div>
</nav>
</header>


<!-- Main content block -->
<section class="section-content padding-y bg">
  <div class="container">
{%block content%}
{% endblock %}
  </div>
</section>

<!-- Footer -->
<footer class="section-footer border-top padding-y">
    <div class="container">
        <p class="float-md-right">&copy; @Copright 2025</p>
        <p><a href="{% url 'home' %}">FOOTER</a></p>
    </div>
</footer>

</body>
</html>
