{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">
    <div class="intro-banner-wrap">
        <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded" alt="Banner">
    </div>
</div>
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION PRODUCTS ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
    <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
    <h3>Нийт {{ products.count }} бүтээгдэхүүн олдлоо</h3> <hr>
</header>

<div class="row">
{% if products %}
    {% for product in products %}
        <div class="col-md-3 mb-4">
            <div class="card card-product-grid">
                <a href="{% url 'product_detail' product.id%}" class="img-wrap">
                    {% if product.images %}
                        <img src="{{ product.images.url }}" class="card-img-top" alt="{{ product.product_name }}">
                    {% else %}
                        <img src="{% static 'images/default-product.jpg' %}" class="card-img-top" alt="No Image">
                    {% endif %}
                </a>
                <figcaption class="info-wrap p-2">
                    <a href="{% url 'product_detail'  product.id%}" class="title">{{ product.product_name }}</a>
                    <div class="price mt-1">${{ product.price }}</div>
                </figcaption>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="col-12">
        <p>Бүтээгдэхүүн олдсонгүй</p>
    </div>
{% endif %}
</div> <!-- row -->

</div><!-- container -->
</section>
<!-- ========================= SECTION PRODUCTS END// ========================= -->

{% endblock %}
