{% extends "base.html" %}
{% load static %}
{% block title %}Django Ecommerce{% endblock %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
	<div class="container">
		
		<div class="intro-banner-wrap">
			<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
		</div>
		
	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
	<div class="container">
		
		<header class="section-heading">
			<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
			<p>сүүлд нэмэгдсэн {{ product_count }} бараа байна.</p>

		</header><!-- sect-heading -->
		
		
		<div class="row">
				{% for i in products %}
				<div class="col-md-3">
					<div class="card card-product-grid">
						<!-- i[5] = image column (photos/products/..) -->
						<a href="#" class="img-wrap"> 
							<img src="/media/{{ i.5 }}"> 
						</a>
						<figcaption class="info-wrap">
							<!-- i[1] = product_name, i[4] = price -->
							<a href="#" class="title">{{ i.1 }}</a>
							<div class="price mt-1">{{ i.4 }}₮</div>
						</figcaption>
					</div>
				</div>
				{% endfor %}
			</div>


</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

{% endblock %}